@model PagedList.IPagedList<PortfolioProject.Models.Contact>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
}

<table class="table table-bordered">
    <tr>

        <th>#</th>
        <th>Gönderen</th>
        <th>Tarih</th>
        <th>Konu</th>
        <th>Email</th>
        <th>Tarih</th>
        <th>Durum</th>
        <th>İşlemler</th>

    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.NameSurname</td>
            <td>@item.SendDate</td>
            <td>@item.Email</td>
            <td>@item.SendDate</td>

            @switch (item.Subject)
            {

                case "Proje Talebi":
                    <td class="alert alert-primary">@item.Subject</td>
                    break;
                case "Test":
                    <td class="alert alert-danger">@item.Subject</td>
                    break;
                case "Şikayet":
                    <td class="alert alert-info">@item.Subject</td>
                    break;
                case "Deneme":
                    <td class="alert alert-secondary">@item.Subject</td>
                    break;
                case "Görüşme":
                    <td class="alert alert-success">@item.Subject</td>
                    break;
                case "Toplantı":
                    <td class="alert alert-dark">@item.Subject</td>
                    break;
                case "Teklif":
                    <td class="alert alert-warning">@item.Subject</td>
                    break;
                case "Staj":
                    <td class="alert alert-secondary">@item.Subject</td>
                    break;


            }

            <td>
                @if (item.IsRead == false)
                {
                    <a href="/Message/ChangeMessageStatusToTrue/@item.ContactId" class="btn btn-success">Okundu</a>
                }
                else
                {
                    <a href="/Message/ChangeMessageStatusToFalse/@item.ContactId" class="btn btn-danger">Okunmadı</a>
                }
            </td>

            <td>
                @if (item.IsRead == false)
                {
                    <a href="/Message/ChangeMessageStatusToTrue/@item.ContactId" class="btn btn-secondary">Okunmadı Olarak İşaretle</a>
                }
                else
                {
                    <a href="/Message/ChangeMessageStatusToFalse/@item.ContactId" class="btn btn-info">Okundu Olarak İşaretle</a>
                }
                <a href="#" class="btn btn-warning">Mesajı Aç</a>
                <a href="/Message/DeleteMessage/@item.ContactId" class="btn btn-danger">Mesajı Sil</a>
            </td>

        </tr>
    }


</table>


<div class="d-flex justify-content-between align-items-center">




    <div>
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Inbox", new { page }), new PagedListRenderOptions
        {
            LiElementClasses = new List<string> { "page-link" }
        })
    </div>
</div>
