@model PortfolioProject.Models.Service
@{
    ViewBag.Title = "ServiceCreate";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yeni Servis Ekleme Sayfası</h2>

<form method="post">

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label> Alt Başlık-1</label>
    @Html.TextBoxFor(x => x.Subtitle1, new { @class = "form-control" })
    <br />
    <label> Alt Başlık-2</label>
    @Html.TextBoxFor(x => x.Subtitle2, new { @class = "form-control" })
    <br />
    <label> Alt Başlık-3</label>
    @Html.TextBoxFor(x => x.Subtitle3, new { @class = "form-control" })
    <br />
    <label> Icon</label>
    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
    <br />


    <button class="btn btn-info"> Servisi Oluştur</button>
</form>

