
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">İstatistikler</h2>

<div class="d-flex flex-wrap justify-content-around">
    <div class="card text-white bg-primary mb-3" style="max-width: 10rem;">
        <div class="card-header text-center">Toplam Mesaj Sayısı</div>
        <div class="card-body">
            <p class="card-text text-center">@ViewBag.totalmessageCount</p>
        </div>
    </div>

    <div class="card text-white bg-warning mb-3" style="max-width: 10rem;">
        <div class="card-header text-center">Okunmuş Mesaj Sayısı</div>
        <div class="card-body">
            <p class="card-text text-center">@ViewBag.messageIsReadTrueCount</p>
        </div>
    </div>

    <div class="card text-white bg-secondary mb-3" style="max-width: 10rem;">
        <div class="card-header text-center">Okunmamış Mesaj Sayısı</div>
        <div class="card-body">
            <p class="card-text text-center">@ViewBag.messageIsReadFalseCount</p>
        </div>
    </div>

    <div class="card text-white bg-danger mb-3" style="max-width: 10rem;">
        <div class="card-header text-center">Yetenek Sayısı</div>
        <div class="card-body">
            <p class="card-text text-center">@ViewBag.skillCount</p>
        </div>
    </div>

    <div class="card text-white bg-success mb-3" style="max-width: 10rem;">
        <div class="card-header text-center">Toplam Puan</div>
        <div class="card-body">
            <p class="card-text text-center">@ViewBag.skillRateSum</p>
        </div>
    </div>

    <div class="card text-white bg-info mb-3" style="max-width: 10rem;">
        <div class="card-header text-center">Ortalama</div>
        <div class="card-body">
            <p class="card-text text-center">@ViewBag.skillRateAvg</p>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 10rem;">
        <div class="card-header text-center">E.Y Puanlı Yetenek</div>
        <div class="card-body">
            <p class="card-text text-center">@ViewBag.maxRateSkillName</p>
        </div>
    </div>

    <div class="card text-white bg-primary mb-3" style="max-width: 10rem;">
        <div class="card-header text-center">Konusu Test Olan Mesaj Sayısı</div>
        <div class="card-body">
            <p class="card-text text-center">@ViewBag.getMessageCountBySubjectReferances</p>
        </div>
    </div>
</div>











